<div class="event">
    <div class="content">
    <div class="summary">
        <a><%= message.user.username %></a> <%= message.body%> - <%= time_ago_in_words(message.created_at) %> ago
    </div>
    </div>
</div>