<h2 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  Chatroom
</h2>
<div class="ui two column centered grid">
    <div class="twelve wide column">
        <div class="ui card fluid chatbox">
            <div class="content">
                <h4 class="ui sub header">Chat logs</h4>
                <div id="chatroom" class="ui small feed">
                 <%= render @messages %>
                </div>
            </div>
            <div class="extra content">
                <%= form_for(@message, html:{role:'form'}, url: message_path, remote: true) do |f|%>
                <div class="ui fluid action input">
                  <%= f.text_field :body, placeholder:'Say something'%>
                  <%= f.button 'Submit', class:'ui button' %>
                </div>
                <%end%>
            </div>
        </div>
    </div>
    <div class="two wide column">
        <div class="ui secondary vertical menu chatbox">
            <a class="item">
                Guest 1
            </a>
            <a class="item">
                Guest 2
            </a>
            <a class="item">
                Guest 3
            </a>
        </div>
    </div>
</div>
