<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item">Chat</a>
        <a class="item">Work</a>
        
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
                </div>
                <div class="ui simple dropdown item">
                Account
                <i class="dropdown icon"></i>
                <div class="menu">
                <div class="item">Log in</div>
                <div class="item">Log out</div>
                <div class="item">Sign up</div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>