<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <%= link_to 'Chatroom', root_path, class:'item' %>
        
        
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
                </div>
                <div class="ui simple dropdown item">
                Account
                <i class="dropdown icon"></i>
                <div class="menu">
                  <% if logged_in? %>
                  <%= link_to 'Log out', logout_path, class:'item', method: :delete %>
                  <% else %>
                    <%= link_to 'Log in', login_path, class:'item' %>  
                    <div class="item">Sign up</div>
                  <% end %>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>